/* GLOBAL */

html {
    font-family: "Mono Regular";
    font-size: 12pt;
    line-height: 14pt;
}
body {
    background-color: whitesmoke;
    color: whitesmoke;
    margin: 1px;
    overflow: hidden;
}

/* FONTS */

@font-face {
    font-family: 'Mono Medium';
    src: url('FormaDJRMono-Medium-Testing.otf') format('opentype');
    font-style: normal;
}
@font-face {
    font-family: 'Mono Regular';
    src: url('FormaDJRMono-Regular-Testing.otf') format('opentype');
    font-style: normal;
}
@font-face {
    font-family: 'Mono Light';
    src: url('FormaDJRMono-ExtraLight-Testing.otf') format('opentype');
    font-style: normal;
}
@font-face {
    font-family: 'Sans Text';
    src: url('FormaDJRText-Regular-Testing.otf') format('opentype');
    font-style: normal;
    font-feature-settings: "ss03";
}

/* ANIMATIONS */

@-webkit-keyframes animateslide {
    from {transform: translateY(100%)}
    to {transform: translateY(0%)}
}
@keyframes animateslide {
    from {transform: translateY(100%)}
    to {transform: translateY(0%)}
}
@-webkit-keyframes animatefade {
    from {opacity:0}
    to {opacity:1}
}
@keyframes animatefade {
    from {opacity:0}
    to {opacity:1}
}
@keyframes animatefadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes animateslidedown {
    from { transform: translateY(0%); }
    to { transform: translateY(100%); }
}

/* START */

#startModal {
    padding: 20px;
    padding-top: 0px;
    border: none;
    width: 40%;
    background-color: whitesmoke;
}
.start-content {
    font-family: "Sans Text";
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0.2pt;
    user-select: none;
    padding-left: 0px;
}
#startModal::backdrop {
    background-color: #0303033c;
    backdrop-filter: blur(4px);
}
#start-close {
    user-select: none;
    font-family: "Mono Medium";
    font-size: 1.3rem;
    color: whitesmoke;
    background-color: #030303;
    border: 3px solid #030303;
    padding-top: 4px;
    margin-top: 6px;
    cursor: pointer;
}
#start-close:focus {
    outline: none;
}
#start-close:hover {
    color: #030303;
    background-color: whitesmoke;
    border: 3px solid #030303;
}

/* MODAL */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    cursor: zoom-out;
    background-color: #0303033c;
    backdrop-filter: blur(4px);
}
.modal-content {
    background-color: whitesmoke;
    color: #030303;
    font-family: "Sans Text";
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0.2pt;
    margin: 10% auto;
    padding: 20px;
    padding-right: 60px;
    padding-left: 40px;
    width: 60%;
    user-select: none;
    cursor: default;
    -webkit-animation-name: animatefade, animateslide;
    -webkit-animation-duration: 0.2s;
    animation-name: animatefade, animateslide;
    animation-duration: 0.4s;
    animation-timing-function: ease;
}
.modal-header {
    display: flex;
    justify-content: space-between;
}
.modal-text {
    margin-left: 40px;
}
.close {
    padding-top: 22px;
    font-size: 40pt;
    font-family: 'Mono Light';
    user-select: none;
    margin-left: -5px;
}
.dfHover {
    cursor: pointer;
}
.close span:hover {
    font-family: 'Mono Regular';
}
.modal.closing .modal-content {
    animation-name: animatefadeout, animateslidedown;
    animation-duration: 0.3s;
    animation-timing-function: ease;
}
#abouttext {
    border-top: 2px solid #030303;
    padding-top: 20px;
}
#message {
    border-top: 2px solid #030303;
    padding-top: 20px;
}
#hsc:hover {
    background-color: #e8aa01;
}

/* TEXT */

h1 {
    font-family: "Mono Medium";
    font-size: 4.4rem;
    line-height: 1.2rem;
    letter-spacing: -2px;
}
h2 {
    font-family: "Mono Medium";
    font-size: 1.5rem;
}
h3 {
    font-family: "Mono Medium";
    font-size: 1.2rem;
}
p {
    font-size: 15pt;
    line-height: 17pt;
    letter-spacing: 0.03em;
}

/* CONTENT */

.grid {
    display: grid;
    background-color:#030303;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 80px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 2px solid whitesmoke; 
    height: 99.2vh;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease;
}

/* HEADER */

.head {
    border: 1px solid whitesmoke;
    height: 80px;
    color: whitesmoke;
    grid-column: 1 / 10;
    padding-left: 10px;
    align-items: center;
    user-select: none;
    display: flex;
    justify-content: space-between;
}
.home {
    font-family: 'Mono Medium';
    font-size: 4.37rem;
    letter-spacing: -2px;
    padding-top: 6px;
}
.home span:hover {
    color:#e8aa01;
    user-select: none;
}
.about {
    align-content: center;
    margin-right: 35px;
    cursor: help;
}
.about:hover {
    font-family: "Mono Medium";
    color:#91DCAB;
}
.links {
    display: flex;
    justify-content: space-between;
}
#mute {
    cursor: not-allowed;
    align-content: center;
    margin-right: 35px;
}
#mute:hover {
    font-family: "Mono Medium";
    color: #E00000;
}

/* PLUGINS */

.plugins-panel {
    display: grid;
    grid-template-rows: repeat(2 1fr);
    grid-template-columns: repeat(2 1fr);
    border: 1px solid whitesmoke;
    height: 1fr;
}
.plugins-list {
    grid-area: 1 / 1 / 2 / 3;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    border: 2px solid whitesmoke;
    margin: 2vw;
    user-select: none;
}
    .eq {
        border: 1px solid whitesmoke;
        align-content: center;
        padding: 10px;
        cursor: zoom-in;
        background-color: inherit;
    }
    .eq:hover {
        background-color: #E00000;
        transition: background-color 0.2s ease;
    }
    .compressor {
        border: 1px solid whitesmoke;
        align-content: center;
        padding: 10px;
        padding: 10px;
        cursor: zoom-in;
        background-color: inherit;
    }
    .compressor:hover {
        background-color: #e8aa01;
        transition: background-color 0.2s ease;
    }
    .reverb {
        border: 1px solid whitesmoke;
        align-content: center;
        padding: 10px;
        cursor: zoom-in;
        background-color: inherit;
    }
    .reverb:hover {
        background-color: #222A80;
        transition: background-color 0.2s ease;
    }
    .delay {
        border: 1px solid whitesmoke;
        align-content: center;
        padding: 10px;
        cursor: zoom-in;
        background-color: inherit;
    }
    .delay:hover {
        background-color: #91DCAB;
        transition: background-color 0.2s ease;
    }
.meters1 {
    grid-area: 2 / 1 / 4 / 2;
    display: grid;
    border: 2px solid whitesmoke;
    margin: 2vw;
    margin-top: 0;
    user-select: none;
}
    .m1 {
        grid-row: 1 / 2;
        border: 1px solid whitesmoke;
        padding: 10px;
    }
    .m2 {
        grid-row: 2 / 8;
        border: 1px solid whitesmoke;
        padding: 10px;
    }
.meters2 {
    grid-area: 2 / 2 / 4 / 2;
    display: grid;
    border: 2px solid whitesmoke;
    margin: 2vw;
    margin-left: 0;
    margin-top: 0;
    user-select: none;
}
    .m3 {
        grid-row: 1 / 2;
        border: 1px solid whitesmoke;
        padding: 10px;
    }
    .m4 {
        grid-row: 2 / 4;
        border: 1px solid whitesmoke;
        padding: 10px;
    }

/* TRACKS */

.tracks {
    border: 1px solid whitesmoke;
    height: 1fr;
    grid-area: 2 / 2 / 13 / 3;
}
.tracks {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    user-select: none;
}
    .VOC {
        border: 1px solid whitesmoke;
        align-content: center;
        padding-left: 14px;
    }
    .VOCtext:hover {
        font-family: "Mono Medium";
        color: #E00000;
    }
    .INS {
        border: 1px solid whitesmoke;
        align-content: center;
        padding-left: 14px;
        padding-right: 10px;
    }
    .INStext:hover {
        font-family: "Mono Medium";
        color: #e8aa01;
    }
    .PER {
        border: 1px solid whitesmoke;
        align-content: center;
        padding-left: 14px;
        padding-right: 10px;
    }
    .PERtext:hover {
        font-family: "Mono Medium";
        color: #222A80;
    }
    .BAS {
        border: 1px solid whitesmoke;
        align-content: center;
        padding-left: 14px;
    }
    .BAStext:hover {
        font-family: "Mono Medium";
        color: #91DCAB;
    }
    .MAS {
        border: 1px solid whitesmoke;
        align-content: center;
        padding-left: 14px;
        padding-right: 10px;
    }
    .MAStext:hover {
        font-family: "Mono Medium";
        color: #cbcbcb;
    }

/* TRACK HOVER */

.show-vocals .vocals-image {
    opacity: 1;
}
.show-instruments .instruments-image {
    opacity: 1;
}
.show-percussion .percussion-image {
    opacity: 1;
}
.show-bass .bass-image {
    opacity: 1;
}
.show-master .master-image {
    opacity: 1;
}

/* REGIONS OPACITY */

.regions img {
    opacity: 0;
    transition: opacity 0.2s ease;
}
.show-vocals .vocals-image {
    opacity: 0.4;
}
.show-instruments .instruments-image {
    opacity: 0.4;
}
.show-percussion .percussion-image {
    opacity: 0.4;
}
.show-bass .bass-image {
    opacity: 0.4;
}
.show-master .master-image {
    opacity: 0.4;
}
.vocals-image:hover {
    opacity: 1 !important;
}
.instruments-image:hover {
    opacity: 1 !important;
}
.percussion-image:hover {
    opacity: 1 !important;
}
.bass-image:hover {
    opacity: 1 !important;
}
.master-image:hover {
    opacity: 1 !important;
}

/* REGION HOVER TRACK LABEL */

.show-vocals .VOCtext {
    font-family: "Mono Medium";
    color: #E00000;
}

.show-instruments .INStext {
    font-family: "Mono Medium";
    color: #e8aa01;
}

.show-percussion .PERtext {
    font-family: "Mono Medium";
    color: #222A80;
}

.show-bass .BAStext {
    font-family: "Mono Medium";
    color: #91DCAB;
}

.show-master .MAStext {
    font-family: "Mono Medium";
    color: #cbcbcb;
}

/* REGIONS */

.regions {
    border: 1px solid whitesmoke;
    height: 1fr;
    grid-area: 2 / 3 / 13 / 7;
}
.regions {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
    .r1 {
        border: 1px solid grey;
        overflow: hidden;
    }
    .r2 {
        border: 1px solid grey;
        overflow: hidden;
    }
    .r3 {
        border: 1px solid grey;
        background-color: #E00000;
        overflow: hidden;
    }
    .r4 {
        border: 1px solid grey;
        background-color: #E00000;
        overflow: hidden;
    }
    .r5 {
        border: 1px solid grey;
        background-color: #E00000;
        overflow: hidden;
    }
    .r6 {
        border: 1px solid grey;
        background-color: #E00000;
        overflow: hidden;
    }
    .r7 {
        border: 1px solid grey;
        background-color: #E00000;
        overflow: hidden;
    }
    .r8 {
        border: 1px solid grey;
        background-color: #E00000;
        overflow: hidden;
    }
    .r9 {
        border: 1px solid grey;
        background-color: #e8aa01;
        overflow: hidden;
    }
    .r10 {
        border: 1px solid grey;
        background-color: #e8aa01;
        overflow: hidden;
    }
    .r11 {
        border: 1px solid grey;
        background-color: #e8aa01;
        overflow: hidden;
    }
    .r12 {
        border: 1px solid grey;
        background-color: #e8aa01;
        overflow: hidden;
    }
    .r13 {
        border: 1px solid grey;
        overflow: hidden;
    }
    .r14 {
        border: 1px solid grey;
        background-color: #e8aa01;
        overflow: hidden;
    }
    .r15 {
        border: 1px solid grey;
        background-color: #e8aa01;
        overflow: hidden;
    }
    .r16 {
        border: 1px solid grey;
        background-color: #e8aa01;
        overflow: hidden;
    }
    .r17 {
        border: 1px solid grey;
        overflow: hidden;
    }
    .r18 {
        border: 1px solid grey;
        overflow: hidden;
    }
    .r19 {
        border: 1px solid grey;
        background-color: #222A80;
        overflow: hidden;
    }
    .r20 {
        border: 1px solid grey;
        background-color: #222A80;
        overflow: hidden;
    }
    .r21 {
        border: 1px solid grey;
        background-color: #222A80;
        overflow: hidden;
    }
    .r22 {
        border: 1px solid grey;
        background-color: #222A80;
        overflow: hidden;
    }
    .r23 {
        border: 1px solid grey;
        overflow: hidden;
    }
    .r24 {
        border: 1px solid grey;
        overflow: hidden;
    }
    .r25 {
        border: 1px solid grey;
        overflow: hidden;
    }
    .r26 {
        border: 1px solid grey;
        background-color: #91DCAB;
        overflow: hidden;
    }
    .r27 {
        border: 1px solid grey;
        overflow: hidden;
    }
    .r28 {
        border: 1px solid grey;
        background-color: #91DCAB;
        overflow: hidden;
    }
    .r29 {
        border: 1px solid grey;
        background-color: #91DCAB;
        overflow: hidden;
    }
    .r30 {
        border: 1px solid grey;
        overflow: hidden;
    }
    .r31 {
        border: 1px solid grey;
        overflow: hidden;
    }
    .r32 {
        border: 1px solid grey;
        background-color: #91DCAB;
        overflow: hidden;
    }
    .r33 {
        border: 1px solid grey;
        background-color: #cbcbcb;
        overflow: hidden;
    }
    .r34 {
        border: 1px solid grey;
        background-color: #cbcbcb;
        overflow: hidden;
    }
    .r35 {
        border: 1px solid grey;
        background-color: #cbcbcb;
        overflow: hidden;
    }
    .r36 {
        border: 1px solid grey;
        background-color: #cbcbcb;
        overflow: hidden;
    }
    .r37 {
        border: 1px solid grey;
        background-color: #cbcbcb;
        overflow: hidden;
    }
    .r38 {
        border: 1px solid grey;
        background-color: #cbcbcb;
        overflow: hidden;
    }
    .r39 {
        border: 1px solid grey;
        background-color: #cbcbcb;
        overflow: hidden;
    }
    .r40 {
        border: 1px solid grey;
        background-color: #cbcbcb;
        overflow: hidden;
    }
.instruments-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.2s ease;
    cursor:zoom-in;
}
.regions:hover .instruments-image:hover {
    opacity: 1;
}
.vocals-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.2s ease;
    cursor:zoom-in;
}
.regions:hover .vocals-image:hover {
    opacity: 1;
}
.percussion-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.2s ease;
    cursor:zoom-in;
}
.regions:hover .percussion-image:hover {
    opacity: 1;
}
.bass-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.2s ease;
    cursor:zoom-in;
}
.regions:hover .bass-image:hover {
    opacity: 1;
}
.master-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.2s ease;
    cursor:zoom-in;
}
.regions:hover .master-image:hover {
    opacity: 1;
}

/* MEDIA QUERIES */

@media screen and (max-width: 800px) {
    html, body {
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .r1, .r2, .r3, .r5, .r6, .r7, .r8, .r9, .r10, .r11, .r13, .r14, .r15, .r16, .r17, .r18, .r19, .r21, .r22, .r23, .r24, .r25, .r26, .r27, .r29, .r30, .r31, .r32, .r33, .r34, .r35, .r37, .r38, .r39, .r40 {
        display: none;
    }
    #startModal {
        width: 80%;
    }
    .about {
        margin-right: 4vw;
    }
    .modal-content {
        min-width: fit-content;
        max-width: fit-content;
        margin-top: 0%;
        margin-bottom: 0%;
    }
    .plugins-panel {
        grid-area: 2 / 1 / 13 / 3;
    }
    .tracks {
        grid-area: 2 / 3 / 13 / 5
    }
    .tracks div {
        padding-right: 20px;
    }
    .regions {
        grid-area: 2 / 5 / 13 / 7;
        grid-template-columns: 1fr;
    }
    .regions img {
        opacity: 1;
    }
    .home {
        padding-right: 20px;
    }
}
@media screen and (max-height: 430px) {
    #startModal {
        width: 60%;
    }
    .meters1, .meters2 {
        display: none;
    }
}